/* https://coolors.co/3d5a80-98c1d9-e0fbfc-ee6c4d-293241 */
@define-color text_primary #293241;
@define-color text_invert #eff7fa;
@define-color bg_primary #eff7fa;
@define-color bg_invert #5075a5;
@define-color highlight_primary #5075a5;
@define-color highlight_secondary #3d5a80;
@define-color highlight_important #ee6c4d;
@define-color highlight_invert #eff7fa;

* {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

window {
  background: transparent;
  color: @text_primary;
}

window.empty * > #window {
  background: transparent;
  border: none;
}

#window {
  background: @bg_primary;
  padding: 0 10px;
  border-bottom: 3px solid @highlight_primary;
  margin-top: 5px;
}

#workspaces {
  background: @bg_primary;
  padding: 0;
  margin: 5px 0 0 10px;
}

#workspaces button {
  padding: 0 5px;
  color: @text_primary;
}

#workspaces button.focused {
  border-bottom: 3px solid @highlight_primary;
  border-radius: 0;
}

#workspaces button:hover {
  border-bottom: 3px solid @highlight_primary;
  border-radius: 0;
  box-shadow: inherit;
  text-shadow: inherit;
  background: white;
}

#workspaces button.urgent {
  border-bottom: 3px solid @highlight_important;
  border-radius: 0
}

#pulseaudio,
#network,
#battery,
#clock,
#cpu,
#memory,
#temperature,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#custom-spotify
{
  border-bottom: 3px solid @highlight_primary;
  padding: 0 10px;
  margin: 5px 5px 0 5px;
  background: @bg_primary;
}

#idle_inhibitor {
  min-width: 25px;
}

#idle_inhibitor.activated {
  background: @bg_invert;
  color: @text_invert;
  border-bottom-color: @highlight_invert;
}

#custom-spotify {
  background: @bg_primary;
  color: @text_primary;
  border-bottom-color: @highlight_primary;
}
#custom-spotify.paused {
  background: @bg_invert;
  color: @text_invert;
  border-bottom-color: @highlight_invert;
}

#network {
  min-width: 25px;
}

#pulseaudio {
  min-width: 25px;
}

#clock {
  margin-right: 10px;
}

/* #pulseaudio.muted { */
/*   border-bottom-color: #ed6a5a; */
/* } */

/* #network.disconnected { */
/*   border-bottom-color: #ed6a5a; */
/* } */

/* #battery.charging { */
/*   border-bottom-color: #36c9c6; */
/* } */

/* #batter.critical:not(.charging) { */
/*   border-bottom-color: #ed6a5a; */
/* } */
